<a href="https://colab.research.google.com/github/mamatqobulovsardor/Classification_Metrics/blob/main/Classification_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Klassifikatsiya metrikalari

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

##Ma'lumotlarni yuklash

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/PlayingNumbers/ML_Process_Course/refs/heads/main/12_model_evaluation/ifood_df.csv")

In [4]:
df

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223.0,0,1,46,709,43,182,42,118,247,...,0,0,0,0,1,0,0,1094,847,0
2201,64014.0,2,1,56,406,0,30,0,0,8,...,1,0,0,0,0,0,1,436,428,1
2202,56981.0,0,0,91,908,48,217,32,12,24,...,0,0,0,0,1,0,0,1217,1193,1
2203,69245.0,0,1,8,428,30,214,80,30,61,...,1,0,0,0,0,1,0,782,721,0
2204,52869.0,1,1,40,84,3,61,2,1,21,...,0,0,0,0,0,0,1,151,130,0

##Muammo tavsifi
##Ma'lumotlarni qayta ishlash

In [5]:
cols = ['AcceptedCmp1',
       'AcceptedCmp2',
       'AcceptedCmp3',
       'AcceptedCmp4',
       'AcceptedCmp5',
       'AcceptedCmp']

df['AcceptedCmp'] = df['AcceptedCmp1'] + df['AcceptedCmp2'] + df['AcceptedCmp3'] + df['AcceptedCmp4'] + df['AcceptedCmp5']+ df['Response']

df['AcceptedCmp'] = np.where(df['AcceptedCmp'] > 0, 1, 0)

In [6]:
df[df['AcceptedCmp'] == 0]

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,AcceptedCmp
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,1,0,0,21,15,0,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,0,0,0,1,0,0,734,692,0,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,0,0,0,1,0,0,48,43,0,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,1,407,392,0,0
5,62513.0,0,1,16,520,42,98,0,42,14,...,0,0,0,0,1,0,702,688,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,44802.0,0,0,71,853,10,143,13,10,20,...,0,0,0,0,1,0,1029,1009,0,0
2198,26816.0,0,0,50,5,1,6,3,4,3,...,0,0,0,1,0,0,19,16,0,0
2199,34421.0,1,0,81,3,3,7,6,2,9,...,0,0,0,1,0,0,21,12,0,0
2200,61223.0,0,1,46,709,43,182,42,118,247,...,0,0,0,1,0,0,1094,847,0,0
2203,69245.0,0,1,8,428,30,214,80,30,61,...,0,0,0,0,1,0,782,721,0,0

##Kross-valyidatsiya

In [7]:
from sklearn.model_selection import train_test_split

y = df['AcceptedCmp']
X = df.drop(cols,axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

##Model

In [8]:
from sklearn.linear_model import LogisticRegression

rf = LogisticRegression()

rf.fit(X_train, y_train)
y_preds = rf.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

##Baholash  
###To'g'rilik, Aniqlik, Qaytarish

In [9]:
from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
)


accuracy = accuracy_score(y_test, y_preds)
precision = precision_score(y_test, y_preds)
recall = recall_score(y_test, y_preds)


print("Accuracy: {0}".format(accuracy))
print("Precision: {0}".format(precision))
print("Recall: {0}".format(recall))

Accuracy: 0.7870879120879121
Precision: 0.6293103448275862
Recall: 0.3945945945945946

##F1-Score

In [10]:
f1 = f1_score(y_test, y_preds)
print("F1: {0}".format(f1))

F1: 0.4850498338870432

##ROC-AUC, PR-AUC

In [11]:
from sklearn.metrics import (
    roc_auc_score,
    average_precision_score
)


roc_auc = roc_auc_score(y_test, y_preds)

print("ROC-AUC: {0}".format(roc_auc))

ROC-AUC: 0.6577024538350505

In [12]:
from sklearn.metrics import (
    average_precision_score
)

pr_auc = average_precision_score(y_test, y_preds)

print("PR-AUC: {0}".format(pr_auc))

PR-AUC: 0.40216861423757977

##Log Loss

In [13]:
from sklearn.metrics import (
    log_loss
)

log_loss = log_loss(y_test, y_preds)

print("Log Loss: {0}".format(log_loss))

Log Loss: 7.674129499056535